In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
filepath = r'D:\customer-churn-prediction\data\telco.csv'
df = pd.read_csv(filepath)

In [3]:
df

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,Male,78,No,Yes,No,No,0,United States,California,...,20,0.00,59.65,3,Churned,Yes,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Female,74,No,Yes,Yes,Yes,1,United States,California,...,0,390.80,1024.10,3,Churned,Yes,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Male,71,No,Yes,No,Yes,3,United States,California,...,0,203.94,1910.88,2,Churned,Yes,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Female,78,No,Yes,Yes,Yes,1,United States,California,...,0,494.00,2995.07,2,Churned,Yes,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Female,80,No,Yes,Yes,Yes,1,United States,California,...,0,234.21,3102.36,2,Churned,Yes,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,Female,30,No,No,No,No,0,United States,California,...,0,1639.44,3039.53,5,Stayed,No,45,5306,NaN,NaN
7039,6840-RESVB,Male,38,No,No,Yes,Yes,2,United States,California,...,0,865.20,2807.47,3,Stayed,No,59,2140,NaN,NaN
7040,2234-XADUH,Female,30,No,No,Yes,Yes,2,United States,California,...,0,2135.52,9453.04,4,Stayed,No,71,5560,NaN,NaN
7041,4801-JZAZL,Female,32,No,No,Yes,Yes,2,United States,California,...,0,0.00,319.21,4,Stayed,No,59,2793,NaN,NaN
7042,3186-AJIEK,Male,44,No,No,No,No,0,United States,California,...,0,2043.36,8887.86,4,Stayed,No,38,5097,NaN,NaN

In [4]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married',
       'Dependents', 'Number of Dependents', 'Country', 'State', 'City',
       'Zip Code', 'Latitude', 'Longitude', 'Population', 'Quarter',
       'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer',
       'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Satisfaction Score', 'Customer Status', 'Churn Label',
       'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [5]:
df['Tenure in Months'].max()

np.int64(72)

In [6]:
#df.drop('customerID', axis=1, inplace=True)

In [7]:
df.shape

(7043, 50)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 50 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Under 30                           7043 non-null   object
 4   Senior Citizen                     7043 non-null   object
 5   Married                            7043 non-null   object
 6   Dependents                         7043 non-null   object
 7   Number of Dependents               7043 non-null   int64
 8   Country                            7043 non-null   object
 9   State                              7043 non-null   object
 10  City                               7043 non-null   object
 11  Zip Code                           7043 non-null   int64
 12  Latitude                           7043 non-null   float64
 13  Longitude                          7043 non-null   float64
 14  Population                         7043 non-null   int64
 15  Quarter                            7043 non-null   object
 16  Referred a Friend                  7043 non-null   object
 17  Number of Referrals                7043 non-null   int64
 18  Tenure in Months                   7043 non-null   int64
 19  Offer                              3166 non-null   object
 20  Phone Service                      7043 non-null   object
 21  Avg Monthly Long Distance Charges  7043 non-null   float64
 22  Multiple Lines                     7043 non-null   object
 23  Internet Service                   7043 non-null   object
 24  Internet Type                      5517 non-null   object
 25  Avg Monthly GB Download            7043 non-null   int64
 26  Online Security                    7043 non-null   object
 27  Online Backup                      7043 non-null   object
 28  Device Protection Plan             7043 non-null   object
 29  Premium Tech Support               7043 non-null   object
 30  Streaming TV                       7043 non-null   object
 31  Streaming Movies                   7043 non-null   object
 32  Streaming Music                    7043 non-null   object
 33  Unlimited Data                     7043 non-null   object
 34  Contract                           7043 non-null   object
 35  Paperless Billing                  7043 non-null   object
 36  Payment Method                     7043 non-null   object
 37  Monthly Charge                     7043 non-null   float64
 38  Total Charges                      7043 non-null   float64
 39  Total Refunds                      7043 non-null   float64
 40  Total Extra Data Charges           7043 non-null   int64
 41  Total Long Distance Charges        7043 non-null   float64
 42  Total Revenue                      7043 non-null   float64
 43  Satisfaction Score                 7043 non-null   int64
 44  Customer Status                    7043 non-null   object
 45  Churn Label                        7043 non-null   object
 46  Churn Score                        7043 non-null   int64
 47  CLTV                               7043 non-null   int64
 48  Churn Category                     1869 non-null   object
 49  Churn Reason                       1869 non-null   object
dtypes: float64(8), int64(11), object(31)
memory usage: 2.7+ MB

In [9]:
df.isnull().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
Country                                 0
State                                   0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Population                              0
Quarter                                 0
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Satisfaction Score                      0
Customer Status                         0
Churn Label                             0
Churn Score                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [10]:
df.nunique()

Customer ID                          7043
Gender                                  2
Age                                    62
Under 30                                2
Senior Citizen                          2
Married                                 2
Dependents                              2
Number of Dependents                   10
Country                                 1
State                                   1
City                                 1106
Zip Code                             1626
Latitude                             1626
Longitude                            1625
Population                           1569
Quarter                                 1
Referred a Friend                       2
Number of Referrals                    12
Tenure in Months                       72
Offer                                   5
Phone Service                           2
Avg Monthly Long Distance Charges    3584
Multiple Lines                          2
Internet Service                        2
Internet Type                           3
Avg Monthly GB Download                50
Online Security                         2
Online Backup                           2
Device Protection Plan                  2
Premium Tech Support                    2
Streaming TV                            2
Streaming Movies                        2
Streaming Music                         2
Unlimited Data                          2
Contract                                3
Paperless Billing                       2
Payment Method                          3
Monthly Charge                       1585
Total Charges                        6540
Total Refunds                         500
Total Extra Data Charges               16
Total Long Distance Charges          6087
Total Revenue                        6982
Satisfaction Score                      5
Customer Status                         3
Churn Label                             2
Churn Score                            81
CLTV                                 3438
Churn Category                          5
Churn Reason                           20
dtype: int64

In [11]:
unique_values_column = df.columns.tolist()

for col in unique_values_column:
    print(f"\nColumn: {col}")
    print(f"Number of unique values: {df[col].nunique()}")
    print("Unique values:", df[col].unique())

Column: Customer ID
Number of unique values: 7043
Unique values: ['8779-QRDMV' '7495-OOKFY' '1658-BYGOY' ... '2234-XADUH' '4801-JZAZL'
 '3186-AJIEK']

Column: Gender
Number of unique values: 2
Unique values: ['Male' 'Female']

Column: Age
Number of unique values: 62
Unique values: [78 74 71 80 72 76 66 70 77 65 67 68 69 79 75 73 37 19 31 23 38 21 29 61
 27 20 56 51 48 32 34 41 30 26 62 64 45 53 63 42 24 54 39 43 50 22 40 47
 60 52 55 59 49 58 25 28 33 44 57 46 36 35]

Column: Under 30
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Senior Citizen
Number of unique values: 2
Unique values: ['Yes' 'No']

Column: Married
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Dependents
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Number of Dependents
Number of unique values: 10
Unique values: [0 1 3 2 5 4 6 7 8 9]

Column: Country
Number of unique values: 1
Unique values: ['United States']

Column: State
Number of unique values: 1
Unique values: ['California']

Column: City
Number of unique values: 1106
Unique values: ['Los Angeles' 'Inglewood' 'Whittier' ... 'Topaz' 'Jacumba' 'Holtville']

Column: Zip Code
Number of unique values: 1626
Unique values: [90022 90063 90065 ... 91934 92105 92250]

Column: Latitude
Number of unique values: 1626
Unique values: [34.02381  34.044271 34.108833 ... 32.649787 32.741859 32.811001]

Column: Longitude
Number of unique values: 1625
Unique values: [-118.156582 -118.185237 -118.229715 ... -116.2237   -117.090353
 -115.152865]

Column: Population
Number of unique values: 1569
Unique values: [68701 55668 47534 ...   116 73006  8062]

Column: Quarter
Number of unique values: 1
Unique values: ['Q3']

Column: Referred a Friend
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Number of Referrals
Number of unique values: 12
Unique values: [ 0  1  6  2  4  3  7  5  8  9 10 11]

Column: Tenure in Months
Number of unique values: 72
Unique values: [ 1  8 18 25 37 27 58 15  7 11  3 13 16 24  4 32 54  2 21 55  5 20 65 49
 43 56 52 33 30 46  9 10 35 44 62 14 12 17 39 68 34 22 19 23 42 41 57 38
 29 66 69 40 31 59 36 45 53 70 47 50 51 72 26  6 28 48 61 71 60 64 67 63]

Column: Offer
Number of unique values: 5
Unique values: [nan 'Offer E' 'Offer D' 'Offer C' 'Offer B' 'Offer A']

Column: Phone Service
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Avg Monthly Long Distance Charges
Number of unique values: 3584
Unique values: [ 0.   48.85 11.33 ... 44.99 44.98  8.62]

Column: Multiple Lines
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Internet Service
Number of unique values: 2
Unique values: ['Yes' 'No']

Column: Internet Type
Number of unique values: 3
Unique values: ['DSL' 'Fiber Optic' 'Cable' nan]

Column: Avg Monthly GB Download
Number of unique values: 50
Unique values: [ 8 17 52 12 14 18 30 24 19 29 28 11  9  7 15  2 10  5 13  0 27 26 22 25
 21 20  6 16 23  4  3 58 53 75 51 47 69 41 57 56 71 48 73 76 59 82 42 39
 85 46]

Column: Online Security
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Online Backup
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Device Protection Plan
Number of unique values: 2
Unique values: ['Yes' 'No']

Column: Premium Tech Support
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Streaming TV
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Streaming Movies
Number of unique values: 2
Unique values: ['Yes' 'No']

Column: Streaming Music
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Unlimited Data
Number of unique values: 2
Unique values: ['No' 'Yes']

Column: Contract
Number of unique values: 3
Unique values: ['Month-to-Month' 'One Year' 'Two Year']

Column: Paperless Billing
Number of unique values: 2
Unique values: ['Yes' 'No']

Column: Payment Method
Number of unique values: 3
Unique values: ['Bank Withdrawal' 'Credit Card' 'Mailed Check']

Column: Monthly Charge
Number of unique values: 1585
Unique values: [39.65 80.65 95.45 ... 43.05 72.   78.7 ]

Column: Total Charges
Number of unique values: 6540
Unique values: [  39.65  633.3  1752.55 ... 7362.9   346.45 6844.5 ]

Column: Total Refunds
Number of unique values: 500
Unique values: [ 0.   45.61 13.43 40.95 11.05 29.84 49.57 12.07 40.64 10.2  17.88 37.55
 48.09 32.46 20.23 12.59 43.31  8.13 46.64 23.33 47.2  33.25 33.73 49.06
 25.79 15.24 26.99 44.58 20.16  8.88 12.48  6.79 39.29 44.31  5.49 25.67
  9.49 29.17 19.25 45.69 29.88 39.93 26.98 11.83 16.58 17.16 18.85 37.64
 41.2  12.19 45.81 49.53 21.52 29.   29.99 21.08 36.4  21.17  6.26 17.91
 34.67 28.93 41.23 47.73 40.46 15.41 38.98 16.73 27.15 45.82 39.18 31.05
 20.45  6.65 47.04 15.2   1.69 43.66 24.36 27.89  6.11  7.43 25.07 48.66
 36.52 38.09 24.98 21.71 36.78 30.75 25.55 17.19 33.1  32.71  4.76 44.81
  3.33 19.16 31.58  1.09 18.64 44.17 17.76 33.07  8.74  4.48 36.6  33.43
 45.44 18.55 33.21 48.25 21.72 21.69 14.22 45.37 27.6  10.17 36.44 13.03
 23.89 11.   34.29 48.26 35.82 15.73  9.36 19.67 39.27 41.85 40.   12.81
  4.73 27.38 14.24 13.01 11.45 28.35  7.39 35.05 41.18 30.46 48.61 26.02
 38.48 14.23 40.15 48.95 24.44  9.68 23.72 20.29 48.54  4.96 18.21  1.27
 22.96 28.49 19.5   8.35 35.7  17.01 34.69  4.93 35.34 18.39 27.3  44.16
 34.09 36.61 18.72 44.63 23.97 38.42  1.48  2.93 10.76 20.28 42.18 40.79
 41.21  2.29 24.08 36.29 30.26  4.6  41.67 15.62 46.78 14.49 25.84 16.97
 23.67 46.56 27.09 10.23 15.57 26.55  3.2  21.6  17.14  5.73 32.09  1.83
 47.19 14.21 38.15  8.3  31.39 12.55 11.48 43.38 49.37  9.34 38.61 37.06
 43.25 23.28 45.07 44.9  23.61 19.89 38.84  1.01 14.67 37.37 21.32 36.04
 49.51 47.91 11.72 29.76  1.99 40.62 18.84  9.22 33.8   9.73 46.07 47.87
 39.99 14.76  2.24 42.89 16.12 38.37 47.36 33.76 12.8  23.01 12.16 45.75
 28.42 37.03 38.46 46.66 35.61 18.89  1.66 17.6  21.35 29.32 23.92 29.5
 16.86 42.64  1.31 10.57 34.44 13.07 22.34 43.95 37.44 25.57 14.93 46.75
 28.7   2.28 47.02 16.85 29.11 32.55  5.44 27.79 43.68 41.74  2.18  3.26
 26.87 10.47 37.45 34.16 17.5  11.37 46.81 15.02 19.63 45.47 39.92 22.55
  3.34 17.05 38.33 47.79 24.92 40.54  5.55 30.22  5.47 44.   28.98 49.38
 37.68 18.17 36.38 26.83 29.21 18.88 33.67 17.3  17.03  3.55 25.62 18.62
  9.39  5.9   5.01 42.57 42.43  4.7  21.53 21.58 35.28 28.83 38.57 29.41
 10.65 42.29 16.38 36.66 39.45 29.64 26.32 11.85 16.26 20.17 32.59 16.36
 22.53  6.72 36.22 38.34 28.08 17.96 33.29 24.9  15.38  5.15  6.41 41.66
 46.06 33.13 12.66 48.79  3.59 44.86 34.83 49.79 44.53 47.45 13.37  2.81
 44.13 23.13  2.76 46.99 23.16 44.42 48.59 11.8  17.17 15.76  2.97 15.31
 45.54 14.15 32.53 22.97 21.25 36.02 39.68 23.39 20.87 26.7   3.85  3.51
 35.23  9.48 36.13 44.51  4.08 34.45 16.96 16.91 43.12 49.76 23.5  29.95
  9.99 33.24 28.63 10.7  36.92 27.01 42.34 34.47  9.79 26.37  8.96 21.9
  4.25 16.56 10.28 46.67 14.78 49.23 35.01  9.35 37.04 49.24 32.65 39.15
 18.78 14.57 49.22 16.27  5.83 35.44 29.29 47.59 46.39 24.07  8.5  23.47
 29.59 28.09  6.49 34.59 47.55 37.01 43.76 25.98 12.26 37.49 19.13  1.65
 31.9  21.81 15.17 14.3  22.72  8.53 46.26 15.43 25.49 17.33 45.6  25.24
  2.62 36.07 29.93 23.79 22.4  16.89  7.3  16.99 41.33 30.45 30.14 24.99
 30.53 32.24  4.68  4.18  2.21 19.32 25.92 45.46 25.42 43.96 38.65 49.02
 19.12 20.19 26.84 40.41 19.31 48.23 45.38 27.24]

Column: Total Extra Data Charges
Number of unique values: 16
Unique values: [ 20   0  10 120 140  90  80  30 100  40 110 150  70  50 130  60]

Column: Total Long Distance Charges
Number of unique values: 6087
Unique values: [   0.    390.8   203.94 ...  865.2  2135.52 2043.36]

Column: Total Revenue
Number of unique values: 6982
Unique values: [  59.65 1024.1  1910.88 ... 9453.04  319.21 8887.86]

Column: Satisfaction Score
Number of unique values: 5
Unique values: [3 2 1 4 5]

Column: Customer Status
Number of unique values: 3
Unique values: ['Churned' 'Stayed' 'Joined']

Column: Churn Label
Number of unique values: 2
Unique values: ['Yes' 'No']

Column: Churn Score
Number of unique values: 81
Unique values: [91 69 81 88 67 95 76 85 86 65 96 84 80 73 83 90 89 87 82 74 66 92 72 70
 94 68 75 93 77 79 71 78 38 40 52 25 59 21 55 60 28  8  7 50 36 23 41 34
 26 56 44 30 62 24 47 22 32 64 27 29 54 39 45 33 58 35 20 31 61 49 37 63
 48 57 42 53 46 43 51  9  5]

Column: CLTV
Number of unique values: 3438
Unique values: [5433 5302 3179 ... 2770 4645 5553]

Column: Churn Category
Number of unique values: 5
Unique values: ['Competitor' 'Dissatisfaction' 'Price' 'Other' 'Attitude' nan]

Column: Churn Reason
Number of unique values: 20
Unique values: ['Competitor offered more data' 'Competitor made better offer'
 'Limited range of services' 'Extra data charges'
 'Competitor had better devices' "Don't know" 'Service dissatisfaction'
 'Lack of affordable download/upload speed' 'Product dissatisfaction'
 'Long distance charges' 'Poor expertise of online support'
 'Attitude of support person' 'Network reliability'
 'Competitor offered higher download speeds' 'Moved' 'Price too high'
 'Attitude of service provider' 'Poor expertise of phone support'
 'Deceased' nan 'Lack of self-service on Website']

In [12]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [13]:
# del df_transformed
# del df

In [14]:
# #del df_transformed
# df_transformed['TotalCharges'] = pd.to_numeric(df_transformed['TotalCharges'], errors='coerce')
# df_transformed.dtypes

In [15]:
# savefilepath = r'D:\customer-churn-prediction\data\transformed_dataset.csv'
# df_transformed.to_csv(savefilepath, index=False)